.App {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #f8f8f8;
}
html,
body {
  font-family: sans-serif;
  height: calc(100% + 150px); 
  
  margin: 0;
  padding: 0;
}
.link{
  text-decoration: none;
  align-content: center;
  font-size: 40px;
  
}
.link:hover { 
  text-decoration: none;
  cursor:pointer; 
}
.navlink:hover { 
  text-decoration: none;
  cursor:pointer; 
}

/*
 * Navbar
 */
 a {
  color: $color-deep-blue;
  font-size: 60px;
  font-weight: lighter;
}



.navbar {
  border: 0;
  border-bottom: solid $color-deep-blue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  
}
/*
 * Header
 */
 .name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 35px;
}
 
.links {
  margin-top: 25px;

  
}
.description {
  font-size: 20px;
  margin-top: 3px;
}

.header {
  border: 0;
  border-bottom: solid #454545;
  display: inline-block;
  text-align: center;
  width: 100%;
  background-color: #f8f8f8;
}
a {
  color: #454545;
  font-size: 20px;
  font-weight: lighter;
  margin: 0 10px;
}

/*
 * Content
 */

.content {
  margin-top: 30px;


}

.navbar-brand {
  color: black;
  font-size: 30px;
  font-weight: bold;
}
h1 {
  font-size: 30px;
  font-weight: bold;
}
p {
  font-size: 20px;
  line-height: 1.95;
  text-align: justify;
}
/*
.head {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! 
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(./img/bg.JPG) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
*/
.title{
  color: #333333;
}
.sub{
  color: #333333;
}

.carousel{
  width: 10px;
}